body{
    background: rgba(255, 254, 254, 0.967);
}
.navbar{
    display: flex;
    background: rgb(223, 226, 184);
    justify-content:space-around;
    align-items: center;

}
.nav-item{
    padding: 10px;
    margin-left: 30%;
    margin-right: 30%;
}
.nav-item a{
    margin: 20px;
    padding: 10px;
}
.hero-section{
    display: flex;
     background: bisque;
     margin: 20%;
     padding: 50px;
     justify-content: center;
     
}