<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="navbar">
        <p>Expense Tracker</p>
        <div class="nav-item">
            <a href="Home">Home</a>
            <a href="Contact">Contact</a>
            <a href="About">About</a>
        </div>
        <a href="login"><button>Login</button></a>
        <a href="signin"><button>Signin</button></a>
    </div>
    <div class="hero-section">
        <p>This is Expense Tracker Website</p>
    </div>
</body>
</html>